@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
html {
  scroll-behavior: smooth; }

body {
  font-family: 'Roboto', sans-serif; }

h3 {
  font-size: 22px;
  color: #141111;
  font-weight: 700;
  margin: 10px 0px 25px 0px; }

h4 {
  font-size: 18px;
  color: #141111;
  font-weight: 700;
  margin: 10px 0px 25px 0px; }

p {
  font-size: 16px;
  line-height: 1.3; }

.header {
  background: url("../images/bg_header.jpg") 0 0/cover fixed no-repeat;
  padding: 40px 0px 170px 0px; }

.container {
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto; }

.header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 85px; }

.header_logo {
  /*Анимация. Скрытие*/
  -webkit-transform: translate(-200px, 0px);
  -ms-transform: translate(-200px, 0px);
  transform: translate(-200px, 0px);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s; }
  .header_logo a {
    color: #141111;
    font-size: 36px;
    font-weight: 900; }

/*Анимация. Открытие*/
.header_logo._active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1; }

.header__burger {
  display: none; }

.header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  list-style: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.header_list li {
  margin: 0 20px;
  border: none;
  text-align: center; }

.header_link {
  color: #fff;
  font-size: 16px;
  padding: 8px;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative; }

.header_link:hover {
  background: #145BFF;
  color: #141111;
  top: 3px; }

.header_content {
  margin: 0 auto;
  width: 570px; }

.title {
  color: #fff;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 2.1px;
  line-height: 1.3;
  /*Анимация. Скрытие*/
  -webkit-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate(0px, -100px);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s; }

/*Анимация. Открытие*/
.title._active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s; }

.subtitle {
  margin: 20px 0px 50px 0px;
  color: #145BFF;
  font-size: 22px;
  font-weight: 700;
  /*Анимация. Скрытие*/
  -webkit-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate(100px, 0px);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s; }
  .subtitle span {
    text-transform: uppercase; }

/*Анимация. Открытие*/
.subtitle._active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.5s;
  -o-transition: all 0.8s ease 0.5s;
  transition: all 0.8s ease 0.5s; }

.offer {
  width: 400px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 50px;
  /*Анимация. Скрытие*/
  -webkit-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate(-100px, 0px);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s; }

/*Анимация. Открытие*/
.offer._active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.8s;
  -o-transition: all 0.8s ease 0.8s;
  transition: all 0.8s ease 0.8s; }

.header_price {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
  /*Анимация. Скрытие*/
  -webkit-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate(-100px, 0px);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s; }
  .header_price p {
    margin-bottom: 8px; }

/*Анимация. Открытие*/
.header_price._active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease 1.1s;
  -o-transition: all 0.8s ease 1.1s;
  transition: all 0.8s ease 1.1s; }

.header_price_old {
  color: #141111;
  font-size: 18px; }

.price_value_old {
  display: inline;
  font-size: 36px;
  position: relative; }

.price_value_old:before {
  content: "";
  border-bottom: 3px solid #141111;
  position: absolute;
  width: 100%;
  height: 50%;
  -webkit-transform: rotate(-14deg);
  -ms-transform: rotate(-14deg);
  transform: rotate(-14deg); }

.header_price_new {
  color: #fff;
  font-size: 18px; }

.price_value_new {
  font-size: 36px; }
  .price_value_new span {
    color: #145BFF; }

.btn {
  background: #145BFF;
  color: #fff;
  border: 0;
  cursor: pointer;
  width: 220px;
  padding: 20px;
  margin-bottom: 93px;
  text-align: center;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  /*Анимация. Скрытие*/
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s; }

/*Анимация. Открытие*/
.btn._active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease 1.4s;
  -o-transition: all 0.8s ease 1.4s;
  transition: all 0.8s ease 1.4s; }

.btn:hover {
  background: #141111;
  top: 3px; }

.video {
  background: #fff;
  text-align: center;
  padding: 70px 0px; }

.iframe {
  width: 560px;
  height: 315px; }

.advantages {
  background-color: #DBD0C7;
  padding-top: 35px; }

.block_title {
  text-align: center; }
  .block_title span {
    color: #145BFF; }

.advantages_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.advantages_block_element {
  width: 49%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 1.0s ease 0s;
  -o-transition: all 1.0s ease 0s;
  transition: all 1.0s ease 0s; }

.advantages_block_element._active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

/*Регулирование поочередной задержкой*/
.advantages_block_element._active:nth-child(1) {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s; }

.advantages_block_element._active:nth-child(2) {
  -webkit-transition: all 0.8s ease 0.5s;
  -o-transition: all 0.8s ease 0.5s;
  transition: all 0.8s ease 0.5s; }

.advantages_block_element._active:nth-child(3) {
  -webkit-transition: all 0.8s ease 1.0s;
  -o-transition: all 0.8s ease 1.0s;
  transition: all 0.8s ease 1.0s; }

.advantages_block_element._active:nth-child(4) {
  -webkit-transition: all 0.8s ease 1.5s;
  -o-transition: all 0.8s ease 1.5s;
  transition: all 0.8s ease 1.5s; }

.icon {
  width: 50px;
  height: 50px; }

.advantages_block_element_content {
  max-width: 100%;
  margin-bottom: 30px; }

.opportunities {
  padding-top: 35px; }

.block_opportunities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /*Анимация. Скрытие*/
  opacity: 0;
  -webkit-transition: all 2s linear 0.4s;
  -o-transition: all 2s linear 0.4s;
  transition: all 2s linear 0.4s; }

/*Анимация. Открытие*/
.block_opportunities._active {
  opacity: 1; }

.block_opportunities_content {
  max-width: 70%; }

.block_opportunities_image_1 {
  width: 300px;
  height: 300px;
  border: 1px solid #DBD0C7;
  border-radius: 50%;
  background: url(../images/stock_1.jpg) 0 0/contain no-repeat; }

.block_opportunities_image_2 {
  width: 300px;
  height: 300px;
  border: 1px solid #DBD0C7;
  border-radius: 50%;
  background: url(../images/stock_2.jpg) 0 0/contain no-repeat; }

.block_opportunities_image_3 {
  width: 300px;
  height: 300px;
  border: 1px solid #DBD0C7;
  border-radius: 50%;
  background: url(../images/stock_3.jpg) 0 0/contain no-repeat; }

.block_opportunities_image_4 {
  width: 300px;
  height: 300px;
  border: 1px solid #DBD0C7;
  border-radius: 50%;
  background: url(../images/stock_4.jpg) 0 0/contain no-repeat; }

.block_opportunities_image_5 {
  width: 300px;
  height: 300px;
  border: 1px solid #DBD0C7;
  border-radius: 50%;
  background: url(../images/stock_5.jpg) 0 0/contain no-repeat; }

.block_opportunities_image_6 {
  width: 300px;
  height: 300px;
  border: 1px solid #DBD0C7;
  border-radius: 50%;
  background: url(../images/stock_6.jpg) 0 0/contain no-repeat; }

.mission {
  padding-top: 35px; }

.mission_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.mission_block_element {
  margin-bottom: 25px;
  text-align: center;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 1.0s ease 0s;
  -o-transition: all 1.0s ease 0s;
  transition: all 1.0s ease 0s; }
  .mission_block_element p {
    color: #141111;
    font-size: 16px;
    margin: 20px 0px; }

.mission_block_element._active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

/*Регулирование поочередной задержкой*/
.mission_block_element._active:nth-child(1) {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s; }

.mission_block_element._active:nth-child(2) {
  -webkit-transition: all 0.8s ease 0.3s;
  -o-transition: all 0.8s ease 0.3s;
  transition: all 0.8s ease 0.3s; }

.mission_block_element._active:nth-child(3) {
  -webkit-transition: all 0.8s ease 0.5s;
  -o-transition: all 0.8s ease 0.5s;
  transition: all 0.8s ease 0.5s; }

.mission_block_element._active:nth-child(4) {
  -webkit-transition: all 0.8s ease 0.7s;
  -o-transition: all 0.8s ease 0.7s;
  transition: all 0.8s ease 0.7s; }

.mission_block_element._active:nth-child(5) {
  -webkit-transition: all 0.8s ease 0.9s;
  -o-transition: all 0.8s ease 0.9s;
  transition: all 0.8s ease 0.9s; }

.mission_block_element._active:nth-child(6) {
  -webkit-transition: all 0.8s ease 1.1s;
  -o-transition: all 0.8s ease 1.1s;
  transition: all 0.8s ease 1.1s; }

.mission_icon_1 {
  padding-top: 70px;
  width: 300px;
  background: url(../images/icons/icon_2_1.png) 50% 0% no-repeat; }

.mission_icon_2 {
  padding-top: 70px;
  width: 300px;
  background: url(../images/icons/icon_2_2.png) 50% 0% no-repeat; }

.mission_icon_3 {
  padding-top: 70px;
  width: 300px;
  background: url(../images/icons/icon_2_3.png) 50% 0% no-repeat; }

.mission_icon_4 {
  padding-top: 70px;
  width: 300px;
  background: url(../images/icons/icon_2_4.png) 50% 0% no-repeat; }

.mission_icon_5 {
  padding-top: 70px;
  width: 300px;
  background: url(../images/icons/icon_2_5.png) 50% 0% no-repeat; }

.mission_icon_6 {
  padding-top: 70px;
  width: 300px;
  background: url(../images/icons/icon_2_6.png) 50% 0% no-repeat; }

.feedback {
  background: #DBD0C7;
  padding: 40px 0px; }

.discount {
  padding: 40px 0px 100px 0px; }
  .discount h3 {
    text-transform: uppercase;
    color: #145BFF; }

.discount_text {
  width: 450px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  color: #141111;
  line-height: 1.3; }
  .discount_text p {
    margin-bottom: 20px; }
  .discount_text p:nth-child(2) {
    text-transform: uppercase;
    font-weight: 700; }
  .discount_text p:nth-child(3) {
    margin-bottom: 40px; }

span {
  color: #145BFF;
  font-weight: 700; }

span:nth-child(2) {
  color: #A49E99;
  font-weight: 400; }

.slick-list {
  overflow: hidden; }

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Свойство прижимает слайды вверх, работает вместе с adaptiveHeight:true */
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

/* Конкретный слайдер */
.slider {
  margin: 0 auto;
  width: 500px;
  height: 350px;
  position: relative;
  padding: 0px 10px; }

.slide_image {
  max-height: 350px; }

/* Стилизация стрелки */
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  /* Стрелка на половину высоты height */
  margin: -30px 0px 0px 0px;
  z-index: 10;
  /* Убираем надпись */
  font-size: 0;
  /* Размеры стрелок */
  width: 30px;
  height: 60px; }

/* Стилизация предыдущей стрелки */
.slider .slick-arrow.slick-prev {
  left: 0;
  /* Подключение картинки стрелки */
  background: url("../images/sl-arrow_l.svg") 0 0/100% no-repeat; }

/* Стилизация следующей стрелки */
.slider .slick-arrow.slick-next {
  right: 0;
  /* Подключение картинки стрелки */
  background: url("../images/sl-arrow_r.svg") 0 0/100% no-repeat; }

/* Стилизация точек */
.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px; }

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%; }

/* Стилизация точи активного слайда */
.slider .slick-dots li.slick-active button {
  /* Фон прозрачный */
  background-color: #145BFF;
  border: none; }

.slider_item {
  text-align: center; }

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px; }
  .header {
    padding: 40px 0px 60px 0px; }
  .header_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-bottom: 40px; }
  .header_logo {
    margin-bottom: 40px; }
  .header_list li {
    margin: 0px 8px; }
  .block_opportunities_image_1 {
    width: 150px;
    height: 150px; }
  .block_opportunities_image_2 {
    width: 150px;
    height: 150px; }
  .block_opportunities_image_3 {
    width: 150px;
    height: 150px; }
  .block_opportunities_image_4 {
    width: 150px;
    height: 150px; }
  .block_opportunities_image_5 {
    width: 150px;
    height: 150px; }
  .block_opportunities_image_6 {
    width: 150px;
    height: 150px; } }

/* 768px - 992px */
@media screen and (max-width: 992px) {
  .container {
    max-width: 720px; }
  .header_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header_list li {
    margin: 0;
    padding: 0; }
    .header_list li:nth-child(4) {
      width: 180px; }
  h3 {
    font-size: 18px;
    margin: 0px 0px 25px 0px; }
  .video {
    padding: 30px 0px 70px 0px; }
  .advantages_block_element {
    width: 45%; }
  .block_opportunities_r {
    margin-bottom: 25px; }
  .block_opportunities_l {
    margin-bottom: 25px; } }

/* 576px - 768px */
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px; }
  .header {
    padding: 40px 0px 0px 0px; }
  .header_content {
    text-align: center; }
  .title {
    font-size: 22px; }
  .header_list li:nth-child(4) {
    width: 150px; }
  .header_link {
    font-size: 14px; }
  .iframe {
    width: 380px;
    height: 213px; }
  .mission_block_element {
    margin-bottom: 25px;
    width: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 1.0s ease 0s;
    -o-transition: all 1.0s ease 0s;
    transition: all 1.0s ease 0s; }
    .mission_block_element p {
      color: #141111;
      font-size: 16px;
      margin: 20px 0px; }
  .mission_icon_1 {
    width: 150px;
    background-size: 40px 40px;
    padding-top: 30px; }
  .mission_icon_2 {
    width: 150px;
    background-size: 40px 40px;
    padding-top: 30px; }
  .mission_icon_3 {
    width: 150px;
    background-size: 40px 40px;
    padding-top: 30px; }
  .mission_icon_4 {
    width: 150px;
    background-size: 40px 40px;
    padding-top: 30px; }
  .mission_icon_5 {
    width: 150px;
    background-size: 40px 40px;
    padding-top: 30px; }
  .mission_icon_6 {
    width: 150px;
    background-size: 40px 40px;
    padding-top: 30px; } }

/* 320px - 576px */
@media screen and (max-width: 576px) {
  body.lock {
    overflow: hidden; }
  .container {
    max-width: none; }
  .header {
    background: #DBD0C7;
    text-align: center; }
  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 30; }
  .header_burger span {
    position: absolute;
    background-color: #141111;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .header_burger:before,
  .header_burger:after {
    content: '';
    background-color: #141111;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .header_burger:before {
    top: 0; }
  .header_burger:after {
    bottom: 0; }
  .header_burger.active {
    position: absolute;
    right: 15px;
    top: 15px; }
  .header_burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  .header_burger.active:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px; }
  .header_burger.active:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px; }
  .header_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #145BFF;
    padding: 70px 10px 20px 10px;
    z-index: 20; }
  .header_menu.active {
    top: 0; }
  .header_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .header_list li:nth-child(4) {
    width: auto; }
  .header_list li {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 10px 0px; }
  .header_link {
    font-size: 24px; }
  .header_content {
    width: 90%; }
  .title {
    color: #141111;
    font-size: 18px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1; }
  .subtitle {
    margin: 30px 0px 30px 0px;
    color: #145BFF;
    font-size: 16px; }
  .offer {
    width: 80%;
    color: #141111;
    font-size: 16px;
    margin-bottom: 30px; }
  .header_price_old {
    font-size: 18px; }
  .price_value_old {
    font-size: 22px; }
  .header_price_new {
    font-size: 18px; }
  .price_value_new {
    font-size: 22px; }
  .btn {
    margin-bottom: 50px; }
  h3 {
    font-size: 18px;
    margin: 0px 30px 25px 30px;
    line-height: 1.3; }
  .video {
    padding: 20px 0px 70px 0px; }
  .iframe {
    width: 280px;
    height: 157px; }
  .advantages_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .advantages_block_element {
    width: 75%; }
  .block_opportunities {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px; }
  .block_opportunities_image_1 {
    display: none; }
  .block_opportunities_image_2 {
    display: none; }
  .block_opportunities_image_3 {
    display: none; }
  .block_opportunities_image_4 {
    display: none; }
  .block_opportunities_image_5 {
    display: none; }
  .block_opportunities_image_6 {
    display: none; }
  .mission_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .slider {
    margin: 0 auto;
    width: 280px;
    height: 196px; }
  .slide_image {
    max-height: 196px; }
  .discount_text {
    width: 300px; } }
