/*Обнуление*/
@import "nullstyle.scss";
/*Переменные*/
@import "var.scss";

body {
	font-family: 'Open Sans', sans-serif;
	font-size: $fz_4;
}


.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

/* Шапка сайта */
.header{
	background: url(../img/header-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.header__row {
	padding: 160px 0px;
	display: flex;
	justify-content: space-between;
}

.header__title {
	margin-bottom: 60px;
	font-size: $fz_1;
	color: $color_5;
	letter-spacing: 1.4px;
	text-transform: uppercase;
	font-weight: $fw_3;
}

.header__subtitle {
	width: 700px;
	font-size: $fz_2;
	font-weight: $fw_2;
	color: $color_1;
	line-height: 50px;
	letter-spacing: 1.1px;
	font-weight: $fw_2;
	padding-bottom: 40px;
}

.header__botton {
	max-width: 300px;
	width: 100%;
	font-size: $fz_4;
	font-weight: $fw_2;
	line-height: 150%;
	background: $color_5;
	color: $color_3;
	box-shadow: 0px 20px 30px;
	border-radius: 30px;
	padding: 16px 0;
	text-align: center;
	display: block;
	&:hover {
		box-shadow: 0px 10px 10px;
	}
	&:active {
		box-shadow: 0px 5px 5px;
	}	
}

.header__image {
	width: 420px; 
	height: 380px;
	background: url(../img/header-image.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	border-radius: 420px/380px;
	box-shadow: 0px 20px 30px;
}

.header__wrapper {
	position: relative;
}

.header__burger {
	display: none;
}

.header__menu {
	display: flex;
}

.header__list {
	margin-left: auto;
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 2;
	&li{
		text-align: center;
	}
}

.header__link {
	background: $color_3;
	color: $color_1;
	font-size: $fz_4;
	line-height: 19px;
	text-decoration: none;
	margin-left: 10px;
	padding: 8px;
	border-radius: 10px/5px;
	transition: all 0.3s ease;
	position: relative;
	&:hover{
	background: $color_4;
	color: $color_1;
	top: 3px;
}
}
/* Шапка сайта END*/

/* Секция фото с мероприятий*/
.section__wrapper {
	padding-top: 40px;
	text-align: center;
}

.section__title {
	color: $color_5;
	font-size: $fz_3;
	font-weight: $fw_2;
}

.section__content {
	padding: 20px 40px;
}

.image-slider {
	padding: 30px 0 70px 0;
}

.image-slider__image {
	text-align: center;
}

.image-slider__image img {
	max-width: 100%;
}

/* Стрелки */
.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
	color: $color_3;
	font-size: 40px;
}

/* Буллеты */
.image-slider .swiper-pagination-bullet {
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	background-color: #000;
}

/* Секция фото с мероприятий END*/

/* Секция Варианты организации праздника */

.tabs {
	padding-top: 40px;
}

.tabs__items {
	display: flex;
	width: 100%;
}

.tabs__item {
	display: flex;
	align-items: center;
	justify-content: center;
    width: 33.3333%;
    height: 40px;
    font-size: $fz_3;

    &.active {
	    background-color: $color_4;
	    color: $color_1;
	    border-radius: 25px 25px 0 0;
		}
}


.tabs__body {
	background-color: $color_4;
}

.tabs__content {
	width: 100%;
    height: 250px;
    display: none;
    padding: 20px 30px;
}

.tabs__content.active {
    display: block;
}

.tabs__image-1 {
	width: 100%;
	height: 100%;
}

/* Секция Варианты организации праздника END*/

/* Секция Офис*/
.section__paragraph {
	margin: 15px;
}

/* Секция Офис END*/

/* Секция Форма */
.section__form {
	max-width: 340px;
	margin: 0 auto;
	text-align: center;
}

.section__input{
	width: 100%;
	border: 1px solid $color_4;
	font-size: $fz_4;
	letter-spacing: 0.3px;
	opacity: 0.55;
	border-radius: 3px;
	height: 47px;
	padding-left: 25px;
	margin-bottom: 15px;
}

.section__btn-form{

	background: $color_6;
	color:$color_1;
	border: 0;
	cursor: pointer;
	width: 100%;
	padding: 12px 0;
	margin-bottom: 103px;
	box-shadow: 0px 20px 30px;
	border-radius: 30px;
	text-align: center;
	font-size: $fz_4;
	font-weight: 900;
	text-decoration: none;
	transition: all 0.5s ease;
	&:hover {
		box-shadow: 0px 10px 10px;
	}
	&:active {
		box-shadow: 0px 5px 5px;
	}
}
/* Секция Форма END*/

/* Футер */
.footer__row {
	height: 150px;
	text-align: center;
	padding-top: 20px;
	font-size: $fz_4;
}
/* Футер END*/

/* Адаптив */

/* 1200px - 1400*/
@media screen and (max-width: 1400) {
	.container {
		max-width: 1140px;
	}
}

/* 992px - 1200 */
@media screen and (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
	.header__image {
		width: 200px; 
		height: 200px;
		border-radius: 50%;
}
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container {
		max-width: 720px;
	}
	.header__image {
		display: none;       
	}
}

@media (max-width:768px){
	.container {
		max-width: 540px;
	}
	body.lock{
		overflow: hidden;
	}

.header__wrapper {
	position: fixed;
	width: 100%;
	height: 60px;
	top: 0;
	left: 0;
	z-index: 50;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.header__wrapper:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $color_1;
	z-index: 2;
}

.header__burger {
	margin-right: 20px;
	display: block;
	position: absolute;
	width: 30px;
	height: 20px;
	position: relative;
	z-index: 3;
}

.header__burger span{
	position: absolute;
	background-color: #fff;
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	top: 9px;
	transition: all 0.3s ease 0s;
}

.header__burger:before,
.header__burger:after{
	content: '';
	background-color: #fff;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	transition: all 0.3s ease 0s;
}
.header__burger:before{
	top: 0;
}
.header__burger:after{
	bottom: 0;
}

.header__burger.active span{
	transform: scale(0);
}

.header__burger.active:before{
	transform:rotate(45deg);
	top: 9px;
}
.header__burger.active:after{
	transform:rotate(-45deg);
	bottom: 9px;
}

.header__menu {
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	transition: all 0.3s ease 0s;
	background-color: #e6e6e6;
	padding: 70px 10px 20px 10px;
}

.header__menu.active{
	top: 0;
}

.header__list {
	margin: 0 auto;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
	z-index: 2;
}

.header__list li{
	margin-top: 50px;
}

.header__link {
	font-size: $fz_2;
	padding: 10px;
	margin: 0;
}

.header__title {
	font-size: $fz_2;
}

.header__subtitle {
	width: 500px;
	font-size: $fz_3;
	line-height: 30px;
}
}

/* 321px - 576px */
@media screen and (max-width: 576px) {

.container {
	max-width: auto;
}
.header__offer {
	margin: 0 auto;
	text-align: center;
}
.header__title {
	font-size: $fz_3;
	line-height: 50px;
}

.header__subtitle {
	width: 270px;
	font-size: $fz_4;
	line-height: 30px;
}
}
/* Адаптив END*/
