//Цвета, используемые на сайте
$color_1: #000;
$color_2: #EE6D95;
$color_3: #fff;
$color_4: #5CCCCC;
$color_5: #A60000;
$color_6: #ffd429;


//Семейства шрифтов
$ff_1: 'Open Sans', sans-serif;


//Размеры шрифтаов 
$fz_1: 70px;
$fz_2: 36px;
$fz_3: 21px;
$fz_4: 18px;

//Толщины шрифтов
$fw_1: 400;
$fw_2: 700;
$fw_3: 800;







