//Цвета, используемые на сайте
$color_1: #fff;
$color_2: #141111;
$color_3: #145BFF;
$color_4: #DBD0C7;
$color_5: #A49E99;

//Размеры шрифта, используемые на сайте
$fz_4: 16px;
$fz_3: 18px;
$fz_2: 22px;
$fz_1: 36px;

//Толщины шрифта, используемые на сайте
$fw_3: 400;
$fw_2: 700;
$fw_1: 900;


